@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
  font-family: 'Open Sans', sans-serif;
}

main {
  h1 {
    text-align: center;
  }
}

.container {
  margin: 0 auto;
}

.page-header {
  min-height: 25px;
  padding: 20px;
  background: orange;
  .container {    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  z-index: 2;
}

.nav {
  &--page-header {
    display: flex;
    flex-flow: column nowrap;
    flex: 100%;
    transition: height, margin .3s ease;
    z-index: 1;
    height: 0px;
    overflow: hidden;
  }
  &--open {
    height: auto;
    margin-top: 30px;
    border-top: 3px solid white;
  }
  &__link {
    margin: 20px 0 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color .5s ease;
    &:hover {
      color: #111;
    }
  }
}


/******
Helpers 
******/


/* Navigation button icon */

.nav-btn {
  width: 40px;
  height: 25px;
  position: relative;
  margin-left: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

.nav-btn span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-btn span:nth-child(1) {
  top: 0px;
}

.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 10px;
}

.nav-btn span:nth-child(4) {
  top: 20px;
}

.nav-btn.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.nav-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-btn.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}


/* End of Navigation button icon */

@media only screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
  .nav-btn {
    display: none;
  }
  .nav {
    &--page-header {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      flex: 1;
      height: 100%;
      margin: auto;
      
      transition: height, margin .3s ease;
      z-index: 1;
    }
    &--open {
      height: auto;
      margin: auto;
      border: none;
    }
    &__link {
      margin: 3px 10px;
    }
  }
  .page-header {    
    background: orange;
    padding: 20px;
    .container {
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 940px;
  }
}